.App__list {
  position: relative;
  margin-bottom: 20px;
}

.App__button-add {
  margin-top: 10px;
}

.product {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.list-button {
  margin-right: 5px;

  &:nth-of-type(1) {
    margin-left: 25px;
  }
}

.confirmation-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 2px;
  width: 300px;
}

.dropdown {
  margin-top: 10px;
}

.buttons {
  margin-top: 5px;
}